body {
    margin: 0;
}

.matrix {
    position: fixed;
    top:0;
    z-index: -1000;
}

.inner-container {
    width: 40%;
    text-align: center;
    margin: 0 auto;
}

h1 {
    color: green;
    font-size:40px;
    text-shadow: 2px 2px 10px #000, -2px 2px 10px #000, -2px -2px 10px #000, 2px -2px 10px #000;
    background: green;
    border-radius: 20px;
}

p {
    color: green;
    text-shadow: 2px 2px 10px #000, -2px 2px 10px #000, -2px -2px 10px #000, 2px -2px 10px #000;
}

.play {
    height: 40px;
    width: 90px;    
    border-radius: 20px;
    position: relative;
    transition: 10s;
    outline: none;
    background-color: red;
    margin-right: 5%;
}

.play:hover {
    transition: 10s;
    transform: rotate(720deg);
}

.stop {
    height: 40px;
    width: 90px;    
    border-radius: 50px;
    position: relative;
    transition: 10s;
    outline: none;
    background-color: blue;
    margin-left: 5%;
}

.stop:hover {
    transition: 10s;
    transform: rotate(720deg);
}

